/* opari2_config_tool_frontend.h template */

#define NM                "nm -B"
#define AWK               "awk"
#define SCRIPT            "@BINDIR@/pomp2-parse-init-regions.awk"
#define EGREP             "grep -E"
#define VERSION           "1.0.7"
#define POMP2_API_VERSION "1:0:0"
#define CFLAGS            "-I@INCDIR@"

#define BUILD_SCRIPT      SCRIPT
#define BUILD_CFLAGS      CFLAGS
